<div class="flex flex-col justify-center items-center h-screen bg-pink-300 relative">
    <div class="absolute top-0 pt-8 w-full">
      <span class="block text-black font-bold text-lg md:text-xl text-center mx-4">
        Zahraa, you've just made my heart soar as if we're gliding over moonlit skies. Can't wait for your call, where every word feels like a new adventure!
      </span>
    </div>
    <div class="flex flex-col items-center gap-2 animate-fadeIn absolute bottom-0 w-full">
      <img src="/assets/heartBg.png" alt="Big Heart" class="md:w-[700px] w-full h-auto" />
      <img src="/assets/yesBg.png" alt="Your Avatar" class="md:w-[500px] w-full h-auto absolute bottom-0" />
    </div>
</div>
