<div class="flex flex-col justify-center items-center h-full w-full bg-pink-300 relative ">

   <div class="w-[500px] h-auto animate__animated animate__lightSpeedInLeft md:w-[700px] mt-[-400px] md:mt-[-600px] z-10 md:absolute">

    <img
      src="/assets/textboxRight.png"
      alt="Dialogue Cloud"
      class="w-full h-auto"
    />
    <div class="absolute top-0 w-full h-full flex items-center justify-center">
      <span
        class="text-blue-500 font-bold text-lg md:text-xl text-center pb-12 w-[300px]"
      >
        All those days watching from the windows, all those years outside
        looking in, finally I'm here with you. I'll be calling soon, Zahoora...
      </span>
    </div>
  </div>
  <div class="w-[500px] h-auto animate__animated animate__lightSpeedInLeft md:w-[700px] mt-[-250px] md:mt-[-50px] z-10 md:absolute" style="animation-delay: 3s;">

    <img
      src="/assets/textboxLeft.png"
      alt="Dialogue Cloud"
      class="w-full h-auto"
    />
    <div class="absolute top-0 w-full h-full flex items-center justify-center">
      <span
        class="text-pink-500 font-bold text-lg md:text-xl text-center pb-14 w-[300px]"
      >
        And at last I see the light, and it's like the fog has lifted. I'm
        waiting for your ring, Hisham, for our call where every word brings new
        light!
      </span>
    </div>
  </div>

  <div
    class="flex flex-col items-center gap-2 animate-fadeIn absolute bottom-0 h-1/2 md:h-auto w-full md:z-0"
  >
    <img
      src="/assets/heartBg.png"
      alt="Big Heart"
      class="md:w-[700px] w-full h-auto pb-9"
    />
    <img
      src="/assets/yesBg.png"
      alt="Your Avatar"
      class="md:w-[500px] w-full h-auto absolute bottom-0"
    />
  </div>
</div>
