<div class="flex justify-center items-center h-screen bg-green-400">
  <div class="flex justify-center items-center flex-col gap-2 pt-3">
    <div class="relative w-[250px] h-auto animate-bounce !mb-[-20px] !pb-[-20px]">
      <img src="/assets/cloud.png" alt="Message Cloud" class="w-full h-auto" />
      <div
        class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
        <span
          class="text-black font-bold text-lg md:text-xl text-center w-[170px] accent-text pb-8">
          𝘐 𝘬𝘯𝘰𝘸 𝘯𝘰𝘵 𝘸𝘩𝘦𝘳𝘦 𝘮𝘺 𝘢𝘥𝘷𝘦𝘯𝘵𝘶𝘳𝘦𝘴 𝘭𝘦𝘢𝘥, 𝘣𝘶𝘵 𝘴𝘩𝘢𝘭𝘭 𝘸𝘦 𝘤𝘰𝘯𝘵𝘪𝘯𝘶𝘦 𝘵𝘩𝘦𝘮 𝘰𝘯 𝘢 𝘤𝘢𝘭𝘭 𝘵𝘰𝘯𝘪𝘨𝘩𝘵?        </span>
      </div>
    </div>
  
      <img src="/assets/flynn-rbg.png" alt="Your Avatar" class="w-[300px] mr-8 h-auto" />
    
   <div class="flex flex-col md:flex-row gap-2 w-[250px] md:w-auto">
      <button mat-raised-button color="primary" (click)="navigateToYes()">
        Yes, I’d love to!
      </button>
      <button mat-raised-button color="accent" (click)="navigateToNo()">
        Not tonight
      </button>
    </div>
  </div>
</div>
